<template>
  <div>
    <h2>Edit Liga</h2>

    <div class="form-edit-liga" v-if="data!=null">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Liga Name</label>
          <input type="text" class="form-control" v-model="data.name" />
        </div>
        <div class="form-group col-md-6">
          <label>Liga Name Alternative</label>
          <input type="text" class="form-control" v-model="data.name_alt" />
        </div>
      </div>

      <div class="form-group">
        <label>Logo</label>
        <input type="text" class="form-control" v-model="data.logo" />
      </div>
      <div class="form-group">
        <label>Featured Image</label>
        <input type="text" class="form-control" v-model="data.featured_image" />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Preview</label>
          <img class="logo-preview" :src="data.logo" alt />
        </div>
        <div class="form-group col-md-6">
          <label>Background Color</label>
          <input v-model="data.bg_color" type="color" class="color-selector" />
        </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea
          rows="5"
          class="liga-descripton form-control"
          v-model="data.description"
          style="margin-top: 0px; margin-bottom: 0px; height: 100px;"
        ></textarea>
      </div>
      <button class="btn btn-primary mr-1" type="submit" @click="update">Update</button>
      <button class="btn btn-secondary" type="reset" @click="back">Cancel</button>
    </div>
  </div>
</template>

<script>
// import data from '../data/sidebar-item'
export default {
  props: ["data"],
  data() {
    return {
      backupData: null
    };
  },
  computed: {
    param() {
      return this.data.param != "new" ? this.data.id : "new";
    }
  },
  watch: {
    propChange: function(newVal, oldVal) {
      console.log(newVal);
    }
  },
  created() {
    this.backupData = this.data;
  },
  methods: {
    update() {
      var vm = this;
      let method = vm.param == "new" ? "post" : "put";
      let urlUpdate =
        vm.param == "new"
          ? "/api/football/liga"
          : "/api/football/liga/" + vm.data.id;

      axios({
        method: method,
        url: urlUpdate,
        data: { data: vm.data }
      })
        .then(r => {
          if (r.status == 200) {
            vm.$toastr.s("Update data success, redirecting you back");
            vm.$emit("null-data", null);
          } else {
            vm.$toastr.e(r.data.error.msg);
          }
          // vm.$emit("null-data", null)
        })
        .catch(e => {
          console.log(e);
        });
    },
    back() {
      this.$toastr.s("Data direset ulang");
      this.$emit("cancel-data", null);
    }
  }
};
</script>

<style lang="scss" scoped>
.color-selector {
  height: 100px;
  width: 100%;
}
.logo-preview {
  width: 100px;
}
.liga-descripton {
  height: 100px;
}
</style>
