<template>
  <div>
    <vue-confirm-dialog></vue-confirm-dialog>
    <div class="section-header">
      <h1>Managemen Football Liga</h1>
      <div class="ml-auto">
        <a
          @click="addLiga"
          class="btn btn-primary text-white btn-icon icon-left btn-lg"
        >
          <i class="fas fa-plus"></i> Add Liga
        </a>
      </div>
    </div>

    <div class="section-body">
      <div class="card">
        <!-- <div class="card-header">

        </div>-->
        <div
          class="card-body"
          v-if="editDatax!=null"
        >
          <EditData
            @null-data="setEditDataNull"
            @cancel-data="cancelLastAddData"
            :data="editDatax"
          ></EditData>
        </div>

        <div
          class="card-body"
          v-else
        >
          <div class="float-right">
            <form>
              <div class="input-group">
                <input
                  v-model="keyword"
                  class="form-control"
                  placeholder="Search"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="clearfix mb-3"></div>

          <table
            class="table table-invert"
            v-if="ligaData !=null"
          >
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Name Alt</th>
                <th
                  scope="col"
                  class="text-center"
                >Logo</th>
                <th
                  scope="col"
                  class="text-center"
                >BG Color</th>
                <th
                  scope="col"
                  class="text-center"
                >Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in tableData"
                :key="index"
              >
                <th scope="row">{{ item.name }}</th>
                <td>{{ item.name_alt }}</td>
                <td class="text-center">
                  <img
                    class="logo-liga text-center"
                    :src="item.logo"
                    alt
                  />
                </td>
                <td
                  :style="'background-color:'+item.bg_color+';color:white;'"
                  class="text-center"
                >{{ item.bg_color }}</td>
                <td class="text-center">
                  <!-- <router-link
                    :to="{name:'gotoLiga',params:{id:item.id}}"
                    class="btn btn-icon btn-primary"
                  >
                    <i class="far fa-edit"></i>
                  </router-link>-->

                  <a
                    @click="editThis(item)"
                    class="btn btn-icon btn-warning text-white"
                  >
                    <i class="far fa-edit"></i>
                  </a>
                  <a
                    @click="deleteThis(item)"
                    class="btn btn-icon btn-danger text-white"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="float-right">
            <nav>
              <paginate
                v-if="ligaData!=null"
                v-model="currentPage"
                :click-handler="changePage"
                :page-count="pageCount"
                :page-range="3"
                :margin-pages="2"
                :prev-text="'&laquo;'"
                :next-text="'&raquo;'"
                :container-class="'pagination'"
                :page-class="'page-item'"
                :page-link-class="'page-link'"
                :next-link-class="'page-link'"
                :prev-link-class="'page-link'"
              ></paginate>
            </nav>
          </div>

          <!-- testing paginate -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EditData from "./Edit";
export default {
  components: {
    EditData
  },
  data () {
    return {
      paginate: ["tableData"],
      keyword: "",
      ligaData: null,
      editData: null,
      currentPage: 1,
      perPage: 20
    };
  },
  computed: {
    chunkedItems () {
      return _.chunk(this.ligaData, this.perPage);
    },

    pageCount () {
      return this.ligaData != null
        ? Math.ceil(this.ligaData.length / this.perPage)
        : 0;
    },
    tableData () {
      return this.keyword
        ? this.loadChunked(this.currentPage).filter(
          item =>
            item.name.toLowerCase().includes(this.keyword.toLowerCase()) ||
            item.name_alt.toLowerCase().includes(this.keyword.toLowerCase())
          // ||
          // item.value.toLowerCase().includes(this.keyword.toLowerCase())
        )
        : this.loadChunked(this.currentPage);
    },
    isEdit () {
      return this.$route.params.id ? true : false;
    },
    editDatax: {
      get: function () {
        return this.editData;
      },
      set: function (value) {
        this.editData = null;
      }
    }
  },
  created () {
    this.fetchLiga();
  },
  methods: {
    loadChunked (index) {
      return this.chunkedItems[index - 1];
    },

    changePage (pageNum) {
      console.log(pageNum);
    },
    deleteThis (item) {
      var vm = this;
      this.$confirm(
        {
          message: `Hapus Data Liga ? `,
          button: {
            no: 'No',
            yes: 'Yes'
          },
          /**
          * Callback Function
          * @param {Boolean} confirm
          */
          callback: confirm => {
            if (confirm) {
              axios
                .delete("/api/football/liga/" + item.id)
                .then(r => {
                  vm.$toastr.e("Data deleted successfully!!");
                  vm.fetchLiga();
                })
                .catch(e => {
                  console.log(e);
                });
            }
          }
        }
      )

    },
    addLiga () {
      let newData = {
        param: "new",
        id: this.$uuid.v4(),
        bg_color: "#046ca2",
        description: "Liga Description or leave it blank",
        logo:
          "https://1.bp.blogspot.com/-F1r5eLs1sHc/XteF8jzEqJI/AAAAAAAAK3Q/hirgdpb6Sgkh2N5I5Xk2GOF4M9i2W44SACLcBGAsYHQ/s1600/nologo.png",
        name: "Liga Name",
        name_alt: "Liga Name Alternative"
      };
      this.ligaData.push(newData);
      this.editData = newData;
    },
    setEditDataNull () {
      this.editData = null;
    },
    cancelLastAddData () {
      this.ligaData.splice(-1, 1);
      this.editData = null;
    },
    editThis (data) {
      this.editData = data;
    },
    fetchLiga () {
      var vm = this;
      axios
        .get("/api/football/liga?clean=1")
        .then(r => {
          vm.ligaData = r.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted () {
    // this.$toastr.s(
    //   "This Message From Toastr Plugin\n You can access this plugin : <font color='yellow'>this.$toastr</font>"
    // );
    console.log("Liga Component mounted.");
  }
};
</script>


