<template>
  <div>
    <ul class="sidebar-menu" v-for="(item, index) in sidebarItem" :key="index">
      <li class="menu-header">{{ item.title }}</li>

      <li>
        <router-link v-for="(itemx, index) in item.data" :key="index" :to="{name:itemx.route}">
          <i :class="itemx.icon"></i>
          <span>{{ itemx.name }}</span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import sidebarIteamData from "./data/sidebar-item";
import userItem from "./data/usern-nav-item";
export default {
  name: "navbar",

  data() {
    return {
      sidebarItem: sidebarIteamData,
      userSidebarrItem: userItem
    };
  },
  computed: {},
  methods: {}
};
</script>

<style>
</style>
