<template>
  <div>
    <vue-confirm-dialog></vue-confirm-dialog>
    <div class="section-header">
      <h1>Managemen Football Team</h1>
      <div
        class="ml-auto"
        v-if="isLoading ==false"
      >
        <a
          @click="addLiga"
          class="btn btn-primary text-white btn-icon icon-left btn-lg"
        >
          <i class="fas fa-plus"></i> Add Team
        </a>
      </div>
    </div>

    <div class="section-body">
      <div class="card">
        <!-- <div class="card-header">

        </div>-->
        <div
          class="card-body"
          v-if="editDatax != null"
        >
          <EditData
            @null-data="setEditDataNull"
            @cancel-data="cancelLastAddData"
            :data="editDatax"
            :ligadata="ligaData"
          ></EditData>
        </div>

        <div
          class="card-body"
          v-else
        >
          <div class="float-right">
            <form>
              <div class="input-group">
                <input
                  v-model="keyword"
                  class="form-control"
                  placeholder="Search"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="clearfix mb-3"></div>

          <div class="table-responsive p-0">
            <table
              class="table table-invert table-striped table-md"
              v-if="tableData != null"
            >
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th
                    scope="col"
                    class="text-center"
                  >Logo</th>
                  <th
                    scope="col"
                    class="text-center"
                  >Liga</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in tableData"
                  :key="index"
                >
                  <th scope="row">
                    {{ item.name }}
                    <div class="table-links">
                      <a
                        @click="editThis(item)"
                        class="text-primary"
                      >Edit</a>

                      <div class="bullet"></div>
                      <a
                        @click="deleteThis(item,index)"
                        class="text-danger"
                      >Trash</a>
                    </div>
                  </th>
                  <td class="text-center">
                    <img
                      class="logo-team text-center"
                      :src="item.logo"
                      alt
                    />
                  </td>

                  <td class="text-center">
                    <img
                      class="logo-team text-center"
                      v-for="(liga, index) in item.liga"
                      :key="index"
                      :src="liga.logo"
                      alt
                    />
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="float-right">
              <nav>
                <paginate
                  v-if="teamData != null"
                  v-model="currentPage"
                  :click-handler="changePage"
                  :page-count="pageCount"
                  :margin-pages="2"
                  :hide-prev-next="true"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :page-link-class="'page-link'"
                  :next-link-class="'page-link'"
                  :prev-link-class="'page-link'"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                ></paginate>
              </nav>
            </div>
          </div>

          <!-- testing paginate -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EditData from "./Edit";
import crypto from "crypto-js";
export default {
  components: {
    EditData
  },
  data () {
    return {
      paginate: ["tableData"],
      keyword: "",
      teamData: null,
      editData: null,
      currentPage: 1,
      perPage: 10,
      ligaData: null,
      isLoading: true
    };
  },
  computed: {
    dataChunked () {
      return this.chunkedItems[this.currentPage - 1];
    },
    chunkedItems () {
      return _.chunk(this.teamData, this.perPage);
    },

    pageCount () {
      if (this.keyword) {
        return Math.ceil(this.tableData.length / this.perPage);
      } else {
        return Math.ceil(this.teamData.length / this.perPage);
      }
    },
    tableData () {
      return this.keyword
        ? this.teamData.filter(item =>
          item.name.toLowerCase().includes(this.keyword.toLowerCase())
        )
        : this.loadChunked(this.currentPage);
    },
    isEdit () {
      return this.$route.params.id ? true : false;
    },
    editDatax: {
      get: function () {
        return this.editData;
      },
      set: function (value) {
        this.editData = null;
      }
    }
  },
  created () {
    this.fetchTeam();
    this.fetchLiga();
  },
  methods: {
    loadChunked (index) {
      return this.chunkedItems[index - 1];
    },

    changePage (pageNum) {
      console.log(pageNum);
    },
    deleteThis (item, index) {
      var vm = this;
      Vue.$confirm({
        title: 'Are you sure?',
        message: 'Are you sure you want to logout?',
        button: {
          yes: 'Yes',
          no: 'Cancel'
        },
        callback: confirm => {
          axios
            .delete("/api/football/team/" + item.id)
            .then(r => {
              vm.$toastr.e("Data deleted successfully!!");
              vm.fetchTeam();
            })
            .catch(e => {
              console.log(e);
            });
        }
      });

    },
    addLiga () {
      let newData = {
        param: "new",
        id: this.$uuid.v4(),
        bg_color: "#046ca2",
        description: "Team Description or leave it blank",
        logo:
          "https://1.bp.blogspot.com/-F1r5eLs1sHc/XteF8jzEqJI/AAAAAAAAK3Q/hirgdpb6Sgkh2N5I5Xk2GOF4M9i2W44SACLcBGAsYHQ/s1600/nologo.png",
        name: "Team Name",
        name_alt: "Team Name Alternative"
      };
      this.teamData.push(newData);
      this.editData = newData;
    },
    setEditDataNull () {
      this.editData = null;
    },
    cancelLastAddData () {
      this.teamData.splice(-1, 1);
      this.editData = null;
    },
    editThis (data) {
      this.editData = data;
    },
    fetchTeam () {
      var vm = this;
      this.isLoading = true;
      axios
        .get("/api/football/team?clean=1")
        .then(r => {
          vm.teamData = r.data.data;
          this.isLoading = false;
          //   let key = "GArLnB78gwW0HPKb8khBLAfLfUYxtn+Dd8K/Cmm09zI=";
          //   const str = r.data;

          //   const cryptoInfo = crypto.AES.encrypt(
          //     JSON.stringify({ str }),
          //     key
          //   ).toString();

          //   console.log({ cryptoInfo });
          //   const info2 = crypto.AES.decrypt(cryptoInfo, key).toString(
          //     crypto.enc.Utf8
          //   );

          //   console.log({ info2 });

          //   const info3 = JSON.parse(info2);
          //   let strx = JSON.parse(atob(info3.str));
          //   console.log(strx);

          //   let infox2 = crypto.AES.decrypt(strx.value, strx.key).toString(
          //     crypto.enc.Utf8
          //   );
          //   console.log(infox2);

          //   console.log({ str: atob(info3.str).value.toString(crypto.enc.Utf8) });
        })
        .catch(e => {
          console.log(e);
          this.isLoading = false;
        });
    },
    fetchLiga () {
      var vm = this;
      this.isLoading = true;
      axios
        .get("/api/football/liga?clean=1")
        .then(r => {
          vm.ligaData = r.data.data;
          this.isLoading = false;
        })
        .catch(e => {
          console.log(e);
          this.isLoading = false;
        });
    }
  },
  mounted () {
    // this.$toastr.s(
    //   "This Message From Toastr Plugin\n You can access this plugin : <font color='yellow'>this.$toastr</font>"
    // );

    console.log("Team Component mounted.");
  }
};
</script>
