<template>
  <div>
    <h2>Edit Match</h2>

    <div class="form-edit-liga" v-if="data!=null">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Start Time</label>
          <!-- <input type="text" class="form-control datetimepicker" /> -->
          <datetime
            type="datetime"
            v-model="data.start_time"
            :input-class="'form-control'"
            format="yyyy-MM-dd HH:mm:ss"
          ></datetime>
        </div>
        <div class="form-group col-md-6" v-if="currentLiga!=null && ligaData !=null">
          <div class="form-group">
            <label>Select Liga</label>
            <multiselect v-model="currentLiga" :options="ligaData" label="name" track-by="name"></multiselect>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6" v-if="data.home_team!= null && ligaTeams !=null">
          <label>Home Team</label>
          <multiselect v-model="data.home_team" :options="ligaTeams" label="name" track-by="name"></multiselect>
        </div>
        <div class="form-group col-md-6" v-else>
          <label>Home Teamx</label>
          <multiselect
            v-model="data.home_team"
            :options="arrayHomeTeam"
            label="name"
            track-by="index"
          ></multiselect>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group" v-if="data.away_team!= null && ligaTeams !=null">
            <label>Away Team</label>
            <multiselect
              v-model="data.away_team"
              :options="ligaTeams"
              id="id"
              label="name"
              track-by="name"
            ></multiselect>
          </div>
          <div class="form-group" v-else>
            <label>Away Teamx</label>
            <multiselect
              v-model="data.away_team"
              :options="arrayAwayTeam"
              label="name"
              track-by="name"
            ></multiselect>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label>Featured Cover</label>
            <input type="text" class="form-control" v-model="data.featured_image" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label
              :class="{'text-danger':data.status.value == 1 || data.status== 0 ,'text-success': data.status.value ==0 || data.status == 1}"
            >Match Status</label>
            <multiselect
              v-model="currentStatus"
              :options="matchStatus"
              label="name"
              track-by="name"
              :allow-empty="false"
            ></multiselect>
          </div>
        </div>
      </div>

      <div class="row sortable-card">
        <div
          class="col-12 col-md-6 col-lg-4"
          v-for="(item, index) in data.stream_link"
          :key="index"
        >
          <div class="card card-primary">
            <div class="card-header">
              <h4>
                Source
                <span class="text-primary">{{index+1}}</span>
              </h4>
              <div class="card-header-action">
                <button class="btn btn-danger mr-1" type="submit" @click="removeStreamLink(index)">
                  <i class="fas fa-trash"></i>
                </button>
                <button class="btn btn-primary mr-1" type="submit" @click="addStreamLink">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="mt-3">
                <label class="typo__label">Source Type</label>
                <multiselect
                  v-model="item.name"
                  :options="streamLinkType"
                  label="name"
                  track-by="name"
                ></multiselect>
              </div>
              <div class="input-group mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">URL Source</span>
                </div>
                <input type="text" v-model="item.url" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        class="btn btn-primary mr-1"
        type="submit"
        @click="update"
        :disabled="isLoading==true"
      >Update</button>
      <button class="btn btn-secondary" type="reset" @click="back">Cancel</button>
      <button class="btn btn-success" @click="addStreamLink">Add Stream</button>
    </div>
  </div>
</template>

<script>
// import data from '../data/sidebar-item'

import { Datetime } from "vue-datetime";

export default {
  components: {
    datetime: Datetime
  },
  //   props: ["data", "ligadata", "teamdata"],
  data() {
    return {
      isLoading: false,
      backupData: null,
      teamData: null,
      ligaData: null,
      data: null,
      streamLinkType: [{ name: "HLS" }, { name: "MPD" }, { name: "IFRAME" }],
      matchStatus: [
        {
          name: "Scheduled",
          value: 0
        },
        {
          name: "Ended",
          value: 1
        }
      ],
      firstTeamList: null
    };
  },
  computed: {
    ligaTeams() {
      return this.data.liga.teams ? this.data.liga.teams : this.firstTeamList;
    },
    currentLiga: {
      get() {
        return this.data.liga;
      },
      set(newVal) {
        this.data.liga = newVal;
        this.data.home_team = [];
        this.data.away_team = [];
      }
    },
    arrayHomeTeam() {
      return this.firstTeamList == null
        ? [{ name: "loading" }]
        : this.firstTeamList;
    },
    arrayAwayTeam() {
      return this.firstTeamList == null
        ? [{ name: "loading" }]
        : this.firstTeamList;
    },
    currentStatus: {
      get: function() {
        if (this.data.status == 1) {
          return this.matchStatus[1];
        } else if (this.data.status == 0) {
          return this.matchStatus[0];
        } else {
          return this.data.status;
        }
      },
      set: function(newVal) {
        this.data.status = newVal;
      }
    },
    param() {
      return this.data.param != "new" ? this.data.id : "new";
    }
  },
  watch: {
    propChange: function(newVal, oldVal) {
      console.log(newVal);
    }
  },
  mounted() {
    console.log("match edit mounted");
  },
  created() {
    if (this.$route.params.id == "new") {
      let newData = {
        param: "new",
        id: this.$uuid.v4(),
        featured_image: "",
        liga_id: "null",
        name: "Match name",
        home_team_id: [],
        away_team_id: [],
        status: "1",
        stream_link: [],
        start_time: null,
        home_team: {},
        away_team: {},
        liga: {}
      };

      this.data = newData;
    } else {
      this.fetchMatchData(this.$route.params.id);
    }
    this.fetchTeam();
    this.fetchLiga();

    // this.getTeamByLiga();
  },
  methods: {
    fetchMatchData(id) {
      var vm = this;
      vm.isLoading = true;
      axios
        .get("/api/football/match/" + id)
        .then(r => {
          vm.data = r.data.data;
          vm.getTeamByLiga(vm.data.liga.id);
          vm.backupData = r.data.data;
          vm.isLoading = false;
        })
        .catch(e => {
          console.log(e);
          vm.isLoading = false;
        });
    },
    getTeamByLiga() {
      if (typeof this.currentLiga.id !== "undefined") {
      }
      var vm = this;
      axios
        .get("/api/football/liga/" + this.currentLiga.id)
        .then(r => {
          vm.firstTeamList = r.data.data.teams;
          console.log(r.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    fetchTeam() {
      var vm = this;
      axios
        .get("/api/football/team?clean=1")
        .then(r => {
          vm.teamData = r.data.data;
          vm.isLoading = false;
        })
        .catch(e => {
          console.log(e);
          vm.isLoading = false;
        });
    },
    fetchLiga() {
      var vm = this;
      vm.isLoading = true;
      axios
        .get("/api/football/liga")
        .then(r => {
          vm.ligaData = r.data.data;
          vm.isLoading = false;
        })
        .catch(e => {
          console.log(e);
          vm.isLoading = false;
        });
    },
    removeStreamLink(index) {
      console.log(index);
      if (this.data.stream_link.length) {
        this.data.stream_link.splice(index, 1);
        this.data.stream_link = JSON.parse(
          JSON.stringify(this.data.stream_link)
        );
        this.data.stream_link = Array.from(this.data.stream_link);
      } else {
        this.data.stream_link = [];
      }
    },
    addStreamLink() {
      let newStream = {
        key: Math.random(),
        name: "",
        url: ""
      };
      //   this.data.stream_link = Object.assign(newStream, this.data.stream_link);
      //   this.data.stream_link = _.cloneDeep(newStream);

      //   newStream = JSON.parse(JSON.stringify(newStream));

      this.data.stream_link.push(newStream);
      this.data.stream_link = JSON.parse(JSON.stringify(this.data.stream_link));
      this.data.stream_link = Array.from(this.data.stream_link);
      //   this.data.stream_link = this.data.stream_link.slice();

      //   this.data.stream_link.push(
      //     Vue.util.extend(newStream, this.data.stream_link)
      //   );
    },
    myChangeEvent(val) {
      console.log(val);
    },
    mySelectEvent({ id, text }) {
      console.log({ id, text });
    },
    update() {
      var vm = this;

      let method = vm.param == "new" ? "post" : "put";
      let urlUpdate =
        vm.param == "new"
          ? "/api/football/match"
          : "/api/football/match/" + vm.data.id;

      vm.isLoading = true;
      axios({
        method: method,
        url: urlUpdate,
        data: vm.data
      })
        .then(r => {
          if (r.status == 200) {
            vm.$toastr.s("Update data success, redirecting you back");
            // vm.$emit("null-data", null);
            vm.$router.push({ name: "gotoMatch" });
            vm.isLoading = false;
          } else {
            vm.$toastr.e(r.data.error.msg);
          }
          // vm.$emit("null-data", null)
        })
        .catch(e => {
          console.log(e);
        });
    },
    back() {
      this.$toastr.s("Data direset ulang");
      this.$emit("cancel-data", null);
    }
  }
};
</script>

